version: '2'
services:
  opentsdb:
    image: petergrace/opentsdb-docker:latest
    hostname: opentsdb
    container_name: opentsdb
    ports:
     - "4242:4242"
  grafana:
    image: grafana/grafana:4.0.0
    hostname: grafana
    container_name: grafana
    ports:
     - "3000:3000"
  redis:
    image: redis:3.2.5
    hostname: redis
    container_name: redis
  postres:
    image: postgres:9.6.1
    hostname: postgres
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
  kafka:
    image: spotify/kafka:latest
    hostname: kafka
    container_name: kafka
    ports:
     - "2181:2181"
     - "9092:9092"
    environment:
      - ADVERTISED_HOST=kafka
      - ADVERTISED_PORT=9092
  openldap:
    image: osixia/openldap:1.1.7
    hostname: openldap
    container_name: openldap
  ldap-admin:
    image: osixia/phpldapadmin:0.6.11
    hostname: ldap-admin
    container_name: ldap-admin
    ports:
     - "6443:443"
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=openldap
  argus:
    build:
      context: ../
      dockerfile: ArgusDocker/argusWebServices/Dockerfile
    hostname: argus
    container_name: argus
    ports:
      - "8081:8080"
      - "5005:5005"
    volumes:
      - ../ArgusWebServices/target/argus-webservices-2.2.0-SNAPSHOT.war:/usr/local/tomcat/webapps/argus.war:ro
      - ./argus.properties:/usr/argus/argus.properties:ro
    environment:
      - "CATALINA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005 -Dargus.config.public.location=/usr/argus/argus.properties"
  argus-web:
    build:
      context: ../
      dockerfile: ArgusDocker/argusWeb/Dockerfile
    hostname: argus-web
    container_name: argus-web
    ports:
      - "8082:8000"